

html {
  font-family: sans-serif; 
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%; 
}


body {
  margin: 0;
}

.container{
  margin-top:20%;
  margin-left:15%;
  }

.topline{

  width: auto;
  border:0.5px solid black;
}

.bottomline{

  width: 100%;
  border:1px solid black;
}

  .productimage{

    float:right;
    margin-top:-590px;
    padding: 5%;
  }
  @media(max-width:768px){

    body{
    position: relative;
    display: block;
  }}

  .textbox{

    height:250px;
    width: 25%;
    font-size: 310%;
  }

  .creation{
    width: 25%;
    height: 50px;

  }

  .creation:hover{

    color: gray;
  }

  .landing h1{
    display: inline-block;  
  }
  
  .searchBox{

    width:50%;
    height:25px;
  }

  .container-fluid{

    border:1px solid black;
    margin: auto;
    max-width: 430px;
    margin-top: 5%; 
    
    
  }
  .formstyle{

    border-radius: 2px;
    height:35px;
    width:85%;
  }

  @media all and (min-width: 480px) {
    .container-fluid {
      padding: 60px 0;
    }
  
    .container-fluid form {
      margin: 0 auto;
      max-width: 320px;
    }
  }