

html {
  font-family: sans-serif; 
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%; 
}


body {
  margin: 0;
}

.container{
  margin-top:20%;
  margin-left:15%;
  }

  @media(max-width:768px){

    body{
    position: relative;
    display: block;
  }}

  .textbox{

    height:250px;
    width: 25%;
    font-size: 310%;
  }

  .creation{
    width: 25%;
    height: 50px;

  }

  .creation:hover{

    color: gray;
  }

  .landing h1{
    display: inline-block;  
  }
  
  .searchBox{

    width:50%;
    height:25px;
  }

  .container{

    margin-left:auto;
    margin-top: 10%; 
  }
  .formstyle{

    border-radius: 2px;
    height:35px;
    width:85%;
  }

  @media all and (min-width: 480px) {
    .container {
      padding: 60px 0;
    }
  
    .container form {
      margin: 0 auto;
      max-width: 320px;
    }
  }